.experience {
  .experience-items {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    @media (max-width: 750px) {
      grid-template-columns: 1fr;
      padding: 2rem 0.5rem 0;
    }
  }
}
