$bg-dark: #222229;
$bg-light: #f1f1ee;
$text-dark: #f6f6f6;
$text-light: #212121;

$purple: #5b86e5;
$blue: #36d1dc;
$dark-blue: #007991;
$cyan: #78ffd6;
$green: #54ca72;
$yellow: #f5de19;
$orange: #ef9d46;
$red: #f86058;
$black: #333333;
$white: #f0f0f0;

$blue-grad: linear-gradient(60deg, $purple, $blue);
$green-grad: linear-gradient(120deg, $cyan, $dark-blue);
