@import "static/vars.scss";

* {
  margin: 0;
  padding: 0;
  color: $text-light;
}

html {
  font-size: 16px;
  background-color: $bg-light;
  overflow-x: hidden;
  .resume {
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;

    .heading {
      text-align: center;
      padding: 2rem 0;
    }
    .section {
      padding: 0rem 1rem 2rem;
      .title {
        // text-shadow: 1px 1px 0px transparentize($red, 0.2),
        //   -1px 1px 0px transparentize($blue, 0.2);
        color: $text-light;
        padding: 0 1rem;
        line-height: 2.5rem;
        border-bottom: 2px solid $purple;
        position: relative;
        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20%;
          height: 1px;
        }
        .glitch {
          position: relative;
          @keyframes noise-anim1 {
            0% {
              clip-path: inset(26% 0% 68% 0%);
            }
            10% {
              clip-path: inset(51% 0% 39% 0%);
            }
            20% {
              clip-path: inset(60% 0% 26% 0%);
            }
            30% {
              clip-path: inset(87% 0% 4% 0%);
            }
            40% {
              clip-path: inset(17% 0% 75% 0%);
            }
            50% {
              clip-path: inset(58% 0% 38% 0%);
            }
            60% {
              clip-path: inset(80% 0% 7% 0%);
            }
            70% {
              clip-path: inset(25% 0% 68% 0%);
            }
            80% {
              clip-path: inset(83% 0% 11% 0%);
            }
            90% {
              clip-path: inset(8% 0% 81% 0%);
            }
            100% {
              clip-path: inset(26% 0% 68% 0%);
            }
          }
          @keyframes noise-anim2 {
            0% {
              clip-path: inset(43% 0% 51% 0%);
            }
            10% {
              clip-path: inset(94% 0% -5% 0%);
            }
            20% {
              clip-path: inset(63% 0% 27% 0%);
            }
            30% {
              clip-path: inset(79% 0% 15% 0%);
            }
            40% {
              clip-path: inset(37% 0% 52% 0%);
            }
            50% {
              clip-path: inset(42% 0% 44% 0%);
            }
            60% {
              clip-path: inset(29% 0% 64% 0%);
            }
            70% {
              clip-path: inset(86% 0% 6% 0%);
            }
            80% {
              clip-path: inset(91% 0% 1% 0%);
            }
            90% {
              clip-path: inset(31% 0% 64% 0%);
            }
            100% {
              clip-path: inset(43% 0% 51% 0%);
            }
          }
          &:hover::after,
          &:hover::before {
            color: white;
            content: attr(data-text);
            position: absolute;
            word-break: keep-all;
            animation: 2s infinite linear alternate;
            top: -4px;
          }
          &:hover::after {
            left: 1px;
            text-shadow: -2px 0 $red;
            animation-name: noise-anim1;
            animation-duration: 2.4s;
          }
          &:hover::before {
            left: -1px;
            text-shadow: 2px 0 $blue;
            animation-name: noise-anim2;
          }
        }
      }
      &:nth-of-type(odd) {
        .title {
          text-align: left;
          &::after {
            background-color: $red;
            right: 6%;
            bottom: 6%;
          }
          &::before {
            width: 14%;
            background-color: $blue;
            right: 4%;
            bottom: 18%;
          }
        }
      }
      &:nth-of-type(even) {
        .title {
          text-align: right;
          &::after {
            background-color: $orange;
            left: 3%;
            bottom: 7%;
          }
          &::before {
            width: 20%;
            background-color: $green;
            left: 14%;
            bottom: 18%;
          }
        }
      }
    }
  }

  *::selection {
    background-color: $text-light;
    color: $bg-light;
    text-shadow: none;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: $text-light $bg-light;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: $bg-light;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $bg-light;
    border-radius: 20px;
    border: 3px solid $text-light;
  }
}
